html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b2b2b2;
    font-family: "Times New Roman", serif;
}

.main-heading {
    text-align: center;
}
  
  .box {
    transition: background-color 1s ease, color 1s ease;
  }
  
  .box:hover {
    background-color: rgb(102, 82, 98);
    color:#111;
  }


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
}

.form-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

.form-container h1 {
    color: #50394c;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .container {
    width: 960px;
    margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
    width: 95%;
    padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
    width: 100%;
    padding: 0 10px;
    }
}